:root {
    --link-hue: 151;
    --color-border: #666;
    --color-bg-tint: #f2f6f5;
    --color-bg-tint2: #ddeae4;
    --color-link: oklch(45% 0.12 var(--link-hue));
    --color-link-focus: oklch(50% 0.12 var(--link-hue));
    font-size: 90%;
    background: var(--color-bg-tint2);
}

body {
    margin: 0;
    padding: 0;
    max-inline-size: none;
}

main,
aside {
    background: var(--color-bg);
    padding: var(--padding);
}

fieldset {
    border: 0;
    padding: 0;
}

label {
    margin-block: 0 var(--spacer);
}

input, textarea, select {
    display: block;
    inline-size: 100%;
    border-radius: 0.2em;
}

input[type=checkbox] {
    display: inline;
    margin: 0;
    padding: 0;
    inline-size: auto;
}

select {
    block-size: calc(2.4em + 2px);
}

.button--block {
    display: block;
    inline-size: 100%;
    line-height: 2;
    font-size: 110%;
    margin-block-end: var(--spacer);
}

.button--secondary {
    --btn-color: var(--color-border);
    --btn-contrast: var(--color-bg);
    --btn-focus: var(--color-fg);
}

.button--small {
    font-size: 80%;
    display: inline-block;
    inline-size: auto;
    line-height: inherit;
    padding-block: 0;
    padding-inline: 0.2em;
}

.category-row {
    display: flex;
    gap: var(--padding);
    align-items: flex-end;
    margin: 0 0 var(--spacer);
}

.category-row label {
    flex-grow: 1;
    margin: 0;
}

h2 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 120%;
    margin-block: 2.5em 0.5em;
    border-block-end: 1px solid var(--color-link);
}

p {
    white-space: pre-line;
}

.detail__header,
.list-item {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: inherit;
    padding: var(--padding);
    margin-block-end: var(--spacer);
    background: var(--color-bg-tint);
}

.detail__header {
    border-block-end: 2px solid var(--color-link);
}

.list-item {
    border-inline-start: 2px solid var(--color-link);
}
.list-item:hover h2, .list-item:focus h2 {
    color: var(--color-link);
}

.list-item__title {
    font-size: 120%;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category,
.subcategory,
.subtitle {
    font-size: 80%;
    color: var(--color-border);
}

.category,
.subcategory {
    --category-hue: calc(var(--link-hue) + 360 * var(--category) / 13);
    --category-fg: oklch(45% 0.16 var(--category-hue));
    --category-bg: oklch(90% 0.03 var(--category-hue));
    background: var(--category-bg);
    color: var(--category-fg);
    border-inline-start: 0.35em solid var(--category-fg);
    padding-inline: 0.2em;
    border-radius: 0.2em;
}

.subcategory {
    --category-fg: oklch(45% 0 0);
    --category-bg: oklch(90% 0 0);
}

.category.c0 { --category: 0 }
.category.c1 { --category: 1 }
.category.c2 { --category: 2 }
.category.c3 { --category: 3 }
.category.c4 { --category: 4 }
.category.c5 { --category: 5 }
.category.c6 { --category: 6 }
.category.c7 { --category: 7 }
.category.c8 { --category: 8 }
.category.c9 { --category: 9 }
.category.c10 { --category: 10 }
.category.c11 { --category: 11 }
.category.c12 { --category: 12 }

.category-filters legend {
    font-weight: bold;
}
.category-filters label {
    display: flex;
    gap: 0.2em;
    align-items: baseline;
    margin: 0;
}

#filter-toggle {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
#filter-toggle ~ label {
    margin: 0;
}
#filter-toggle ~ label::before {
    content: "▶ ";
}
#filter-toggle:focus-visible ~ label {
    outline: 1px auto var(--color-link);
}
#filter-toggle:checked ~ label::before {
    content: "▼ ";
}
#filter-toggle ~ div {
    display: none;
}
#filter-toggle:checked ~ div {
    display: block;
}

nav {
    margin-block: 2em 1em;
}

.filter {
    font-size: 120%;
    margin-block-end: var(--spacer);
}

.list > ul {
    margin: 0;
    margin-block-end: 1em;
    padding: 0;
    list-style: none;
}
.list > ul > li {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 40em) {
    body {
        max-inline-size: 70em;
        margin-block: 2em;
        margin-inline: auto;
        padding: var(--padding);
    }

    .l-grid {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }

    main {
        grid-column: 1/3;
    }

    aside {
        grid-column: 3;
    }

    #filter-toggle,
    #filter-toggle ~ label {
        display: none;
    }
    #filter-toggle ~ div {
        display: block;
    }
}

@media print {
    .button--block,
    .client-toggle {
        display: none;
    }
}
