@import "../node_modules/mfbs/sass/variables";
@import "scss/variables";
@import "../node_modules/mfbs/sass/base";
@import "../node_modules/mfbs/sass/form";

html {
    background: $color-bg-tint2;
}

body {
    margin: 0;
    padding: 0;
    max-inline-size: none;
}

@import "scss/layout";
@import "scss/form";
@import "scss/entry";
@import "scss/category";
@import "scss/category_filter";
@import "scss/map";

nav {
    margin-block: 2em 1em;
}

.filter {
    font-size: 120%;
    margin-block-end: $spacer;
}

.list > ul {
    margin: 0;
    margin-block-end: 1em;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}
