label {
    margin: 0 0 $spacer;
}

input, textarea, select {
    display: block;
    width: 100%;
}


.button,
button,
[type=button],
[type=submit] {
    display: block;
    width: 100%;
    line-height: 2;
    font-size: 110%;

    @media print {
        display: none;
    }
}

.button--secondary {
    @include button-color($color-border, contrast-color($color-border), $color-fg);
}
