label {
    display: block;
    margin: 0 0 1em;
}

input, textarea, select {
    display: block;
    width: 100%;
    margin: 0 0 1em;

    border-radius: 0.2em;
    border: 1px solid $color-fg-tint;
    padding: 0.3em 0.75em;
    font-family: inherit;
    background: transparent;

    &:invalid {
        border-color: $color-invalid;
    }
}


@mixin button($color, $color-tint) {
    border: 0;
    background: $color;
    color: contrast-color($color);
    line-height: 2;
    border-radius: 0.2em;
    font-size: 110%;
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.3em 0.75em;
    margin: 0 0 1em;

    &:hover, &:focus {
        background: $color-tint;
        color: contrast-color($color-tint);
    }
}

.button {
    @include button($color-fg-tint, $color-fg);
}

.button.m-cta,
input[type=submit] {
    @include button($color-focus, $color-focus-tint);
}
