main, aside:not(:empty) {
    background: $color-bg;
    padding: 0.5em;
}

aside {
    display: none;
}

@media screen and (min-width: 40em) {
    body {
        max-width: 70em;
        margin: 2em auto;
        padding: 0.5em;
    }

    main {
        @include grid-width(8);
    }
    aside {
        @include grid-width(4);
        display: initial;
        float: right;
    }
}
