@viewport {
  width: device-width; }

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%; }

p, address, blockquote, pre, table, dl, ul, ol, figure {
  margin-top: 0;
  margin-bottom: 1em; }

html {
  overflow-y: scroll;
  background-color: #fff;
  box-sizing: border-box;
  color: #333;
  font-size: 90%;
  font-family: sans-serif;
  line-height: 1.4; }

body {
  margin: 2em auto;
  max-width: 36em;
  padding: 0 0.5em; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.5rem;
  margin-top: 1em; }

a {
  color: #0052af;
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    color: #396acb; }

*::selection {
  background: #0052af;
  color: #fff; }

hr {
  border: 0;
  border-bottom: 1px solid #666;
  margin: 1em 0; }

pre, code {
  font-size: 90%;
  font-family: monospace;
  background-color: #f2f5f6; }

code {
  padding: 0 0.25em; }

pre {
  margin-bottom: 1.4em;
  padding: 0.5em;
  overflow: auto;
  border: 1px solid #666; }
  pre code {
    background: none;
    font-size: 100%;
    padding: 0; }

ol, ul {
  padding-left: 2rem; }
  ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0; }
  ol li, ul li {
    line-height: 1.4; }

dt {
  font-weight: bold; }

dd {
  margin-left: 2rem; }

blockquote {
  font-style: italic;
  margin-left: 2rem;
  margin-right: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td, table th {
    text-align: start;
    padding: 0.5em;
    border-top: 1px solid #666;
    vertical-align: top; }

textarea {
  resize: vertical; }

fieldset {
  border: 1px solid #666; }

@media print {
  html {
    background: transparent;
    color: #000; }
  h2, h3 {
    page-break-after: avoid; } }

label {
  display: block; }

input, .button, .button--cta,
button,
[type=button],
[type=submit],
textarea,
select {
  margin: 0 0 1em;
  border: 1px solid #666;
  border-radius: 0.2em;
  padding: 0.3em 0.75em;
  font-family: inherit;
  font-size: inherit;
  color: #333;
  background: #fff; }
  input:invalid, .button:invalid, .button--cta:invalid,
  button:invalid,
  [type=button]:invalid,
  [type=submit]:invalid,
  textarea:invalid,
  select:invalid {
    border-color: #a31757;
    color: #a31757; }
  input:disabled, .button:disabled, .button--cta:disabled,
  button:disabled,
  [type=button]:disabled,
  [type=submit]:disabled,
  textarea:disabled,
  select:disabled {
    background: #f2f5f6 !important;
    color: #666 !important;
    border-color: #666 !important;
    cursor: not-allowed; }

.button, .button--cta,
[type=submit],
button,
[type=button],
[type=submit] {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.8;
  background: transparent;
  text-align: center;
  border-color: #0052af;
  color: #0052af; }
  .button:hover, .button--cta:hover,
  [type=submit]:hover, .button:focus, .button--cta:focus,
  [type=submit]:focus,
  button:hover,
  button:focus,
  [type=button]:hover,
  [type=button]:focus,
  [type=submit]:hover,
  [type=submit]:focus {
    background: #0052af;
    color: #fff; }
  .button:active, .button--cta:active,
  [type=submit]:active,
  button:active,
  [type=button]:active,
  [type=submit]:active {
    border-color: #396acb;
    background: #396acb; }

html {
  background: #dde4ea; }

body {
  margin: 0;
  padding: 0;
  max-width: none; }

main, aside:not(:empty) {
  background: #fff;
  padding: 0.5em; }

aside {
  display: none; }

@media screen and (min-width: 40em) {
  body {
    max-width: 70em;
    margin: 2em auto;
    padding: 0.5em; }
  main {
    width: 66.33333%; }
  aside {
    display: block;
    width: 32.66667%;
    float: right; } }

label {
  margin: 0 0 1em; }

input, .button, .button--cta,
button,
[type=button],
[type=submit], textarea, select {
  display: block;
  width: 100%; }

.button, .button--cta,
[type=submit] {
  background: #666;
  color: #fff;
  border: 0;
  line-height: 2;
  font-size: 110%; }
  .button:hover, .button--cta:hover,
  [type=submit]:hover, .button:focus, .button--cta:focus,
  [type=submit]:focus {
    background: #333;
    color: #fff; }
  @media print {
    .button, .button--cta,
    [type=submit] {
      display: none; } }

.button--cta,
[type=submit] {
  background: #0052af;
  color: #fff; }
  .button--cta:hover, .button--cta:focus,
  [type=submit]:hover,
  [type=submit]:focus {
    background: #396acb;
    color: #fff; }

h2 {
  font-size: 150%;
  font-weight: normal;
  margin: 0;
  padding: 0; }

h3 {
  font-weight: normal;
  font-size: 120%;
  margin: 2.5em 0 0.5em;
  border-bottom: 1px solid #0052af; }

p {
  white-space: pre-line; }

.detail header, .client header,
.listItem {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: inherit;
  padding: 0.5em;
  margin: 0 0 1em;
  background: #f2f5f6; }

.detail header, .client header {
  border-bottom: 2px solid #0052af; }

.listItem {
  border-left: 2px solid #0052af; }
  .listItem .listItem-title {
    font-size: 120%; }
  .listItem:hover h2,
  .listItem:focus h2 {
    color: #0052af; }

.category,
.subcategory,
.lang {
  font-size: 80%;
  color: #666; }

.clientToggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 90%; }
  @media print {
    .clientToggle {
      display: none; } }

.category:not(:empty),
.subcategory:not(:empty) {
  background: #e2e2e2;
  color: #555555;
  border-left: 0.35em solid #555555;
  padding: 0 0.2em;
  border-radius: 0.2em; }

.category.c0:not(:empty) {
  background: #dfe1f5;
  color: #0052af;
  border-left: 0.35em solid #0052af; }

.category.c1:not(:empty) {
  background: #eadff0;
  color: #723d98;
  border-left: 0.35em solid #723d98; }

.category.c2:not(:empty) {
  background: #f2dde8;
  color: #992373;
  border-left: 0.35em solid #992373; }

.category.c3:not(:empty) {
  background: #f7dcdf;
  color: #a51848;
  border-left: 0.35em solid #a51848; }

.category.c4:not(:empty) {
  background: #f7ddd7;
  color: #9d2d1f;
  border-left: 0.35em solid #9d2d1f; }

.category.c5:not(:empty) {
  background: #f2dfd1;
  color: #864400;
  border-left: 0.35em solid #864400; }

.category.c6:not(:empty) {
  background: #eae2cf;
  color: #645500;
  border-left: 0.35em solid #645500; }

.category.c7:not(:empty) {
  background: #dfe5d2;
  color: #386000;
  border-left: 0.35em solid #386000; }

.category.c8:not(:empty) {
  background: #d5e7d8;
  color: #006620;
  border-left: 0.35em solid #006620; }

.category.c9:not(:empty) {
  background: #cee8e1;
  color: #00694d;
  border-left: 0.35em solid #00694d; }

.category.c10:not(:empty) {
  background: #cbe8ea;
  color: #006979;
  border-left: 0.35em solid #006979; }

.category.c11:not(:empty) {
  background: #cde7f1;
  color: #00679e;
  border-left: 0.35em solid #00679e; }

.category.c12:not(:empty) {
  background: #d5e4f5;
  color: #0060b1;
  border-left: 0.35em solid #0060b1; }

.categoryFilters {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0; }
  .categoryFilters input[type=checkbox], .categoryFilters [type=checkbox].button, .categoryFilters [type=checkbox].button--cta, .categoryFilters
  button[type=checkbox], .categoryFilters
  [type=checkbox][type=button], .categoryFilters
  [type=checkbox][type=submit] {
    display: inline;
    margin: 0;
    padding: 0;
    width: auto; }
  .categoryFilters label,
  .categoryFilters li {
    margin: 0; }
  .categoryFilters ul {
    font-weight: initial;
    margin: 0 0 1em;
    list-style: none;
    padding: 0; }

.all,
.none {
  font-size: 90%;
  font-weight: initial; }

.map {
  width: 100%;
  height: 20em;
  border: 0; }

@media print {
  .leaflet-control-container {
    display: none; } }

nav {
  margin: 2em 0 1em; }

.filter {
  font-size: 120%; }

.list > ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none; }
  .list > ul > li {
    margin: 0;
    padding: 0; }

