@viewport {
  width: device-width; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

p, address, blockquote, pre, table, dl, ul, ol, figure, fieldset {
  margin-top: 0;
  margin-bottom: 1em; }

html {
  overflow-y: scroll;
  background-color: #fff;
  color: #333;
  font-size: 90%;
  font-family: sans-serif;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 0.8rem;
  margin-top: 0; }
  * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 1.5em; }

a {
  color: #0052af;
  text-decoration: underline; }
  a:hover, a:focus, a:active {
    color: #396acb; }

a:not([href]) {
  color: inherit;
  text-decoration: inherit; }
  a:not([href]):hover, a:not([href]):focus, a:not([href]):active {
    color: inherit; }

*::selection {
  background: #0052af;
  color: #fff; }

hr {
  border: 0;
  border-bottom: 1px solid #666;
  margin: 1em 0; }

pre, code {
  font-size: 90%;
  font-family: monospace;
  background-color: #f2f5f6; }

code {
  padding: 0 0.25em; }

pre {
  padding: 0.5em;
  overflow: auto;
  border: 1px solid #666; }
  pre code {
    background: none;
    font-size: 100%;
    padding: 0; }

ol, ul {
  padding-left: 1.5rem; }

dt {
  font-weight: bold; }

dd {
  margin-left: 1.5rem; }

blockquote {
  font-style: italic;
  margin-left: 1.5rem;
  margin-right: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

tr {
  border-bottom: 1px solid #666; }

td, th {
  text-align: start;
  padding: 0.25em;
  vertical-align: top; }

textarea,
select[multiple] {
  resize: vertical; }

fieldset {
  border: 1px solid #666; }

sub, sup {
  line-height: 0; }

@media print {
  html {
    background: transparent;
    color: #000; }
  h2, h3 {
    page-break-after: avoid; } }

label {
  display: block; }

input,
textarea,
select, .button,
button,
[type=button],
[type=submit] {
  border: 1px solid #666;
  padding: 0.3em 0.75em;
  font-family: inherit;
  font-size: inherit; }

input,
textarea,
select {
  background: #fff;
  color: #333; }
  input:focus,
  textarea:focus,
  select:focus {
    border-color: #396acb; }
  input:-moz-ui-invalid,
  textarea:-moz-ui-invalid,
  select:-moz-ui-invalid {
    border-color: #a31757;
    color: #a31757; }
  input:disabled,
  textarea:disabled,
  select:disabled {
    border-color: #666;
    background: #f2f5f6;
    color: #666;
    cursor: not-allowed; }

.button,
button,
[type=button],
[type=submit] {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  line-height: 1.8;
  text-align: center;
  border-radius: 0.3em;
  border-color: #0052af;
  background: #0052af;
  color: #fff; }
  .button:hover, .button:focus,
  button:hover,
  button:focus,
  [type=button]:hover,
  [type=button]:focus,
  [type=submit]:hover,
  [type=submit]:focus {
    border-color: #1d5ebd;
    background: #1d5ebd;
    color: #fff; }
  .button:active,
  button:active,
  [type=button]:active,
  [type=submit]:active {
    border-color: #396acb;
    background: #396acb;
    color: #fff; }
  .button:disabled,
  button:disabled,
  [type=button]:disabled,
  [type=submit]:disabled {
    border-color: #80a9d7;
    background: #80a9d7;
    color: #e6eef7;
    cursor: not-allowed; }

html {
  background: #dde4ea; }

body {
  margin: 0;
  padding: 0;
  max-width: none; }

main, aside:not(:empty) {
  background: #fff;
  padding: 0.5em; }

aside {
  display: none; }

@media screen and (min-width: 40em) {
  body {
    max-width: 70em;
    margin: 2em auto;
    padding: 0.5em; }
  main {
    width: 66%;
    width: calc((100% + 1rem) * 0.66667 - 1rem); }
  aside {
    width: 32%;
    width: calc((100% + 1rem) * 0.33333 - 1rem);
    display: initial;
    float: right; } }

label {
  margin: 0 0 1em; }

input, textarea, select {
  display: block;
  width: 100%;
  border-radius: 0.2em; }

.button,
button,
[type=button],
[type=submit] {
  display: block;
  width: 100%;
  line-height: 2;
  font-size: 110%;
  margin-bottom: 1em; }
  @media print {
    .button,
    button,
    [type=button],
    [type=submit] {
      display: none; } }

.button--secondary {
  border-color: #666;
  background: #666;
  color: #fff; }
  .button--secondary:hover, .button--secondary:focus {
    border-color: #4d4d4d;
    background: #4d4d4d;
    color: #fff; }
  .button--secondary:active {
    border-color: #333;
    background: #333;
    color: #fff; }
  .button--secondary:disabled {
    border-color: #b3b3b3;
    background: #b3b3b3;
    color: #f0f0f0;
    cursor: not-allowed; }

.button--small {
  font-size: 80%;
  display: inline-block;
  width: auto;
  line-height: inherit;
  padding: 0 0.2em; }
  
.add-category {
  line-height: 1;
  width: 4%;
  display: inline-block;
  padding: 0.1em 0.1em}

h2 {
  font-size: 150%;
  font-weight: normal;
  margin: 0;
  padding: 0; }

h3 {
  font-weight: normal;
  font-size: 120%;
  margin: 2.5em 0 0.5em;
  border-bottom: 1px solid #0052af; }

p {
  white-space: pre-line; }

.detail__header,
.list-item {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: inherit;
  padding: 0.5em;
  margin: 0 0 1em;
  background: #f2f5f6; }

.detail__header {
  border-bottom: 2px solid #0052af; }

.list-item {
  border-left: 2px solid #0052af; }
  .list-item:hover h2,
  .list-item:focus h2 {
    color: #0052af; }

.list-item__title {
  font-size: 120%; }

.category,
.subcategory,
.lang {
  font-size: 80%;
  color: #666; }

.client-toggle {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 90%; }
  @media print {
    .client-toggle {
      display: none; } }

.category:not(:empty),
.subcategory:not(:empty) {
  background: #e2e2e2;
  color: #555555;
  border-left: 0.35em solid #555555;
  padding: 0 0.2em;
  border-radius: 0.2em; }

.category.c0:not(:empty) {
  background: #dfe1f5;
  color: #0052af;
  border-left: 0.35em solid #0052af; }

.category.c1:not(:empty) {
  background: #eadff0;
  color: #723d98;
  border-left: 0.35em solid #723d98; }

.category.c2:not(:empty) {
  background: #f2dde8;
  color: #992373;
  border-left: 0.35em solid #992373; }

.category.c3:not(:empty) {
  background: #f7dcdf;
  color: #a51848;
  border-left: 0.35em solid #a51848; }

.category.c4:not(:empty) {
  background: #f7ddd7;
  color: #9d2d1f;
  border-left: 0.35em solid #9d2d1f; }

.category.c5:not(:empty) {
  background: #f2dfd1;
  color: #824600;
  border-left: 0.35em solid #824600; }

.category.c6:not(:empty) {
  background: #eae2cf;
  color: #635500;
  border-left: 0.35em solid #635500; }

.category.c7:not(:empty) {
  background: #dfe5d2;
  color: #3f5e00;
  border-left: 0.35em solid #3f5e00; }

.category.c8:not(:empty) {
  background: #d5e7d8;
  color: #00632d;
  border-left: 0.35em solid #00632d; }

.category.c9:not(:empty) {
  background: #cee8e1;
  color: #006151;
  border-left: 0.35em solid #006151; }

.category.c10:not(:empty) {
  background: #cbe8ea;
  color: #005f64;
  border-left: 0.35em solid #005f64; }

.category.c11:not(:empty) {
  background: #cde7f1;
  color: #005d73;
  border-left: 0.35em solid #005d73; }

.category.c12:not(:empty) {
  background: #d5e4f5;
  color: #005b86;
  border-left: 0.35em solid #005b86; }

.category-filters {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding: 0; }
  .category-filters input[type=checkbox] {
    display: inline;
    margin: 0;
    padding: 0;
    width: auto; }
  .category-filters label,
  .category-filters li {
    margin: 0; }
  .category-filters ul {
    font-weight: initial;
    margin: 0 0 1em;
    list-style: none;
    padding: 0; }

.map {
  width: 100%;
  height: 30em;
  border: 0; }

@media print {
  .leaflet-control-container {
    display: none; } }

nav {
  margin: 2em 0 1em; }

.filter {
  font-size: 120%;
  margin-bottom: 1em; }

.list > ul {
  margin: 0 0 1em;
  padding: 0;
  list-style: none; }
  .list > ul > li {
    margin: 0;
    padding: 0; }
