@import "bower_components/sass-planifolia/sass/math";
@import "bower_components/sass-planifolia/sass/color";
@import "bower_components/sass-planifolia/sass/contrast";

@import "scss/variables";
@import "bower_components/mfbs/src/base";
@import "bower_components/mfbs/src/form";

html {
    background: $color-bg-tint2;
}

body {
    margin: 0;
    padding: 0;
    max-width: none;
}

@import "scss/layout";
@import "scss/form";
@import "scss/entry";
@import "scss/category";
@import "scss/category_filter";
@import "scss/map";

nav {
    margin: 2em 0 1em;
}

.filter {
    font-size: 120%;
}

.list > ul {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}
