@import "bower_components/sass-planifolia/sass/math";
@import "bower_components/sass-planifolia/sass/color";
@import "bower_components/sass-planifolia/sass/contrast";

@import "variables";
@import "base";
@import "form";
@import "entry";
@import "category";
@import "category_filter";

nav {
    margin: 2em 0 1em;
}

.filter {
    font-size: 120%;
}

.list > ul {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;

    > li {
        margin: 0;
        padding: 0;
    }
}
