.category,
.subcategory {
    --category-hue: calc(257 + 360 * var(--category) / 13);
    --category-fg: oklch(45% 0.16 var(--category-hue));
    --category-bg: oklch(90% 0.03 var(--category-hue));

    background: var(--category-bg);
    color: var(--category-fg);
    border-inline-start: 0.35em solid var(--category-fg);

    padding-inline: 0.2em;
    border-radius: 0.2em;
}

.subcategory {
    --category-fg: oklch(45% 0 0);
    --category-bg: oklch(90% 0 0);
}

.category.c0 { --category: 0 }
.category.c1 { --category: 1 }
.category.c2 { --category: 2 }
.category.c3 { --category: 3 }
.category.c4 { --category: 4 }
.category.c5 { --category: 5 }
.category.c6 { --category: 6 }
.category.c7 { --category: 7 }
.category.c8 { --category: 8 }
.category.c9 { --category: 9 }
.category.c10 { --category: 10 }
.category.c11 { --category: 11 }
.category.c12 { --category: 12 }
