@mixin category($k, $n, $chroma) {
    $l: pf-lightness($color-link);
    $c: pf-chroma($color-link);
    $h: pf-hue($color-link) + 360deg / $n * $k;

    $color1: lch($l, $c * $chroma, $h);
    $color2: lch(90, 10 * $chroma, $h);
    $_: contrast-check($color1, $color2);

    background: $color2;
    color: $color1;
    border-left: 0.35em solid $color1;
}

.category:not(:empty),
.subcategory:not(:empty) {
    @include category(0, 1, 0);
    padding: 0 0.2em;
    border-radius: 0.2em;
}

@for $i from 0 to 13 {
    .category.c#{$i}:not(:empty) {
        @include category($i, 13, 1);
    }
}
