h2 {
    font-size: 150%;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-weight: normal;
    font-size: 120%;
    margin: 2.5em 0 0.5em;
    border-bottom: 1px solid $color-link;
}

p {
    white-space: pre-line;
}

.detail__header,
.list-item {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: inherit;
    padding: $padding;
    margin: 0 0 $spacer;
    background: $color-bg-tint;
}

.detail__header {
    border-bottom: 2px solid $color-link;
}

.list-item {
    border-left: 2px solid $color-link;

    &:hover h2,
    &:focus h2 {
        color: $color-link;
    }
}

.list-item__title {
    font-size: 120%;
}

.category,
.subcategory,
.lang {
    font-size: 80%;
    color: $color-border;
}
