fieldset {
    border: 0;
    padding: 0;
}

label {
    margin: 0 0 $spacer;
}

input, textarea, select {
    display: block;
    width: 100%;
    border-radius: 0.2em;
}

input[type="checkbox"] {
    display: inline;
    margin: 0;
    padding: 0;
    width: auto;
}

.button,
button,
[type=button],
[type=submit] {
    display: block;
    width: 100%;
    line-height: 2;
    font-size: 110%;
    margin-bottom: $spacer;

    @media print {
        display: none;
    }
}

.button--secondary {
    @include button-color($color-border, contrast-color($color-border), $color-fg);
}

.button--small {
    font-size: 80%;
    display: inline-block;
    width: auto;
    line-height: inherit;
    padding: 0 0.2em;
}

.category-row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: $padding;
    align-items: end;
}
.category-row button {
    font-size: 100%;
    line-height: 1.8;
}
