@use "../../node_modules/sass-planifolia/sass/contrast";

fieldset {
    border: 0;
    padding: 0;
}

label {
    margin: 0 0 $spacer;
}

input, textarea, select {
    display: block;
    width: 100%;
    border-radius: 0.2em;
}

input[type="checkbox"] {
    display: inline;
    margin: 0;
    padding: 0;
    width: auto;
}

input:read-only {
    border-color: $color-readonly;
    color: $color-readonly;
}

select {
    height: calc(2.4em + 2px);
}

.button--block {
    display: block;
    width: 100%;
    line-height: 2;
    font-size: 110%;
    margin-bottom: $spacer;

    @media print {
        display: none;
    }
}

.button--secondary {
    @include button-color($color-border, contrast.color($color-border), $color-fg);
}

.button--small {
    font-size: 80%;
    display: inline-block;
    width: auto;
    line-height: inherit;
    padding: 0 0.2em;
}

.category-row {
    display: flex;
    gap: $padding;
    align-items: flex-end;
    margin: 0 0 $spacer;
}
.category-row label {
    flex-grow: 1;
    margin: 0;
}
