fieldset {
    border: 0;
    padding: 0;
}

label {
    margin-block: 0 var(--spacer);
}

input, textarea, select {
    display: block;
    inline-size: 100%;
    border-radius: 0.2em;
}

input[type="checkbox"] {
    display: inline;
    margin: 0;
    padding: 0;
    inline-size: auto;
}

select {
    block-size: calc(2.4em + 2px);
}

.button--block {
    display: block;
    inline-size: 100%;
    line-height: 2;
    font-size: 110%;
    margin-block-end: var(--spacer);

    @media print {
        display: none;
    }
}

.button--secondary {
    --btn-color: var(--color-border);
    --btn-contrast: var(--color-bg);
    --btn-focus: var(--color-fg);
}

.button--small {
    font-size: 80%;
    display: inline-block;
    inline-size: auto;
    line-height: inherit;
    padding-block: 0;
    padding-inline: 0.2em;
}

.category-row {
    display: flex;
    gap: var(--padding);
    align-items: flex-end;
    margin: 0 0 var(--spacer);
}
.category-row label {
    flex-grow: 1;
    margin: 0;
}
