main,
aside {
    background: var(--color-bg);
    padding: var(--padding);
}

@media screen and (min-width: 40em) {
    body {
        max-inline-size: 70em;
        margin-block: 2em;
        margin-inline: auto;
        padding: var(--padding);
    }

    .l-grid {
        display: grid;
        grid-gap: 1rem;
        grid-auto-flow: dense;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
    main {
        grid-column: 1 / 3;
    }
    aside {
        grid-column: 3;
    }
}
