$color-border: #666;
$color-bg-tint: #f2f6f5;
$color-bg-tint2: #ddeae4;
$color-link: #00632d;
$color-link-focus: pf-lighten($color-link, 10);
$color-invalid: pf-change-color($color-link, $hue: 0);
$font-size-max: 90%;

$_: contrast-check($color-fg, $color-bg);
$_: contrast-check($color-border, $color-bg);
$_: contrast-check($color-fg, $color-bg-tint);
$_: contrast-check($color-border, $color-bg-tint);
$_: contrast-check($color-link, $color-bg);
$_: contrast-check($color-link, $color-bg-tint);

$planifolia-contrast-dark-default: $color-fg;
$planifolia-contrast-light-default: $color-bg;
