:root {
    --color-border: #666;
    --color-bg-tint: #f2f5f6;
    --color-bg-tint2: #dde4ea;
    --color-link: oklch(45% 0.16 257);
    --color-link-focus: oklch(50% 0.16 257);

    font-size: 90%;
}
