@use "../../node_modules/sass-planifolia/sass/color";
@use "../../node_modules/sass-planifolia/sass/contrast";

$color-border: #666;
$color-bg-tint: #f2f6f5;
$color-bg-tint2: #ddeae4;
$color-link: #00632d;
$color-link-focus: color.lighten($color-link, 10);
$color-invalid: color.change($color-link, $hue: 0);
$font-size-max: 90%;

$_: contrast.check($color-fg, $color-bg);
$_: contrast.check($color-border, $color-bg);
$_: contrast.check($color-fg, $color-bg-tint);
$_: contrast.check($color-border, $color-bg-tint);
$_: contrast.check($color-link, $color-bg);
$_: contrast.check($color-link, $color-bg-tint);

contrast.$planifolia-contrast-dark-default: $color-fg;
contrast.$planifolia-contrast-light-default: $color-bg;
